/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.header-banner {
    /*background-color: #E2725B;*/
	background-color: white;
    text-align: center;
    padding: 20px;
	width: 100%; /* Set your desired width */
	height: 150px; /* Set your desired height */
	position: relative;
}

#countdown {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}
.time-section {
  display: inline-block;
  margin: 0 10px;
}
.time-label {
  display: block;
  font-size: 10px;
}

.header-banner img {
	width: 100%;
	height: 100%;
}




main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;  
	display: flex; /* Use Flexbox */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
}

#about {
	width: 50%;
    background-color: #FFFCFB;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	 box-sizing: border-box; /* Include padding and border in the element's total width and height */
	padding: 20px; /* Optional: if you want some space inside the div */
}

#gallery {
    margin-top: 20px;
}

.photo {
    margin-bottom: 20px;
}

.photo img {
    max-width: 100%;
    border-radius: 5px;
}

.location {

}

.container {
  width: 100%; /* Full width */
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.responsive-div-left {
  width: 10%;
  background-color: #FFFCFB; /* Just for visibility */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /*padding-right: 50px; /* Optional: if you want some space inside the div */*/
  /*height: 100%;*/
}

.responsive-div {
  width: 50%; /* Default width for desktop */
  background-color: #FFFCFB; /* Just for visibility */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /*padding: 20px; /* Optional: if you want some space inside the div */
}

.responsive-div h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 40px;
    font-weight: bold;
	padding-bottom: 20px;
    margin: 0;
    color: #5c715e;
}

.responsive-div-right {
	width: 10%;
  background-color: #FFFCFB; /* Just for visibility */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /*padding-left: 50px; /* Optional: if you want some space inside the div */
  /*height: 100%;*/
}

hr.dashed {
  border-top: 3px dashed #bbb;
}


.responsive-div p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 20px;
	padding-bottom: 10px;
    color: black;
}

.footer {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
}

/* Media query for screens that are 600px wide or less */
@media (max-width: 1000px) {
  .responsive-div {
    width: 80%; /* Width for mobile */
  }
}
@media (max-width: 600px) {
  .responsive-div {
    width: 90%; /* Width for mobile */
  }
}